In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)

### Zwierzęta

#### Imiona samiczki, imiona samczyki

In [3]:
imiona_zwierzat = pd.read_csv('dane do tabeli\imiona zwierzat.csv')

In [4]:
liczba_m = np.random.rand(1)[0]
liczba_m = np.round(liczba_m*1200)
liczba_m = int(liczba_m)
liczba_k = 1200-liczba_m
liczba_m, liczba_k

(449, 751)

In [5]:
# tabele tylko z imionami damskimi i tylko z imionami męskimi
imiona_damskie = imiona_zwierzat.iloc[:632, 1]
imiona_meskie = imiona_zwierzat.iloc[632:, 1]

In [6]:
samiczki = imiona_damskie.sample(liczba_k, replace=True, random_state = 13)
samiczki = samiczki.reset_index()
samiczki['płeć'] = ['K']*liczba_k
samiczki.head()

   index     imię płeć
0    338     Lili    K
1    176    Fifka    K
2     74  Borówka    K
3    528     Roxi    K
4    153   Dżasti    K

In [7]:
samczyki = imiona_meskie.sample(liczba_m, replace=True, random_state = 13)
samczyki = samczyki.reset_index()
samczyki['płeć'] = ['M']*liczba_m
samczyki.head()

   index      imię płeć
0    970    Gordon    M
1    808  Clifford    M
2    706    Bączuś    M
3   1160    Majszi    M
4   1374    Scotti    M

#### Samiczki i samczyki razem: imię i płeć

In [8]:
imię_płeć = pd.concat([samiczki, samczyki])
imię_płeć = imię_płeć.reset_index()
imię_płeć = imię_płeć.drop(columns = ['level_0','index'])
imię_płeć.columns = ['Imię', 'Płeć']
imię_płeć

         Imię Płeć
0        Lili    K
1       Fifka    K
2     Borówka    K
3        Roxi    K
4      Dżasti    K
...       ...  ...
1195    Bajer    M
1196    Largo    M
1197  Chrupek    M
1198    Mafii    M
1199    Nicko    M

[1200 rows x 2 columns]

### Gatunek, rasa

**DataFrame GATUNKI** - pobrany .xlsx 


**DataFrame LISTA GATUNKÓW** - wypisany jeden raz każdy gatunek, który występuje w GATUNKACH 

**DataFrame ZWIERZĘTA** - kolumna "gatunek" zawiera wylosowane gatunki zwierząt z określonym prawdopodobieństwem, kolumna "rasa" zawiera przypisane do gatunków rasy

In [9]:
gatunki = pd.read_excel('dane do tabeli/rasy.xlsx')
gatunki.head()

  gatunek            rasa  maksymalna_żywotność
0    pies           akita                    12
1    pies         alaskan                    12
2    pies         basenji                    16
3    pies          beagle                    15
4    pies  bearded collie                    17

In [10]:
prawdopodobieństwo_wystepowania = gatunki['gatunek'].value_counts(normalize=True).to_frame()
prawdopodobieństwo_wystepowania = prawdopodobieństwo_wystepowania.iloc[:,0].values.tolist()

In [11]:
lista_gatunków = gatunki.copy()
lista_gatunków = lista_gatunków.drop_duplicates(subset='gatunek', keep='first')
lista_gatunków = lista_gatunków.iloc[:,0]
lista_gatunków = lista_gatunków.reset_index()
# lista_gatunków = lista_gatunków.iloc[:,1].values.tolist()
lista_gatunków

    index        gatunek
0       0           pies
1      69            kot
2      96         królik
3     101  świnka morska
4     104           ptak
5     109      szynszyla
6     110   koszatniczka
7     111    mysz domowa
8     112  szczur domowy
9     113         chomik
10    114   myszoskoczek
11    115  jeż hodowlany

In [12]:
zwierzeta = lista_gatunków.sample(1200, weights=prawdopodobieństwo_wystepowania, replace=True, random_state = 13)

In [13]:
zwierzeta['index'] = np.arange(1,1201,1)

In [14]:
zwierzeta

    index        gatunek
1       1            kot
0       2           pies
1       3            kot
8       4  szczur domowy
8       5  szczur domowy
..    ...            ...
0    1196           pies
0    1197           pies
5    1198      szynszyla
1    1199            kot
1    1200            kot

[1200 rows x 2 columns]

In [15]:
rasy = [0]*1200
zwierzeta['rasy'] = rasy
zwierzeta

    index        gatunek  rasy
1       1            kot     0
0       2           pies     0
1       3            kot     0
8       4  szczur domowy     0
8       5  szczur domowy     0
..    ...            ...   ...
0    1196           pies     0
0    1197           pies     0
5    1198      szynszyla     0
1    1199            kot     0
1    1200            kot     0

[1200 rows x 3 columns]

In [16]:
pies_rasy = gatunki.loc[gatunki['gatunek'] == 'pies', 'rasa']
kot_rasy = gatunki.loc[gatunki['gatunek'] == 'kot', 'rasa']
królik_rasy = gatunki.loc[gatunki['gatunek'] == 'królik', 'rasa']
świnka_morska_rasy = gatunki.loc[gatunki['gatunek'] == 'świnka morska', 'rasa']
ptak_rasy = gatunki.loc[gatunki['gatunek'] == 'ptak', 'rasa']

In [17]:
new_lista_gatunków = lista_gatunków.iloc[:,1].values.tolist()

for gat in new_lista_gatunków:
    gat_rasa = list(gatunki.loc[gatunki['gatunek'] == gat, 'rasa'])
    n = len(zwierzeta[zwierzeta['gatunek'] == gat])
    zwierzeta.loc[zwierzeta['gatunek'] == gat, 'rasy'] = np.random.choice(gat_rasa, n, replace=True).flatten()

In [18]:
zwierzeta

    index        gatunek         rasy
1       1            kot      bobtail
0       2           pies     cavalier
1       3            kot    bengalski
8       4  szczur domowy          NaN
8       5  szczur domowy          NaN
..    ...            ...          ...
0    1196           pies    hawańczyk
0    1197           pies   lhasa apso
5    1198      szynszyla          NaN
1    1199            kot   maine coon
1    1200            kot  turecki van

[1200 rows x 3 columns]

In [19]:
zwierzeta = zwierzeta.reset_index()
zwierzeta = zwierzeta.drop(columns = ['level_0','index'])
zwierzeta.columns = ['Gatunek', 'Rasa']
zwierzeta

            Gatunek         Rasa
0               kot      bobtail
1              pies     cavalier
2               kot    bengalski
3     szczur domowy          NaN
4     szczur domowy          NaN
...             ...          ...
1195           pies    hawańczyk
1196           pies   lhasa apso
1197      szynszyla          NaN
1198            kot   maine coon
1199            kot  turecki van

[1200 rows x 2 columns]

#### Połączona tabela: IMIĘ, PŁEĆ, GATUNEK, RASA

In [20]:
imię_płeć_gatunek_rasa = pd.concat([imię_płeć, zwierzeta], axis=1)
imię_płeć_gatunek_rasa

         Imię Płeć        Gatunek         Rasa
0        Lili    K            kot      bobtail
1       Fifka    K           pies     cavalier
2     Borówka    K            kot    bengalski
3        Roxi    K  szczur domowy          NaN
4      Dżasti    K  szczur domowy          NaN
...       ...  ...            ...          ...
1195    Bajer    M           pies    hawańczyk
1196    Largo    M           pies   lhasa apso
1197  Chrupek    M      szynszyla          NaN
1198    Mafii    M            kot   maine coon
1199    Nicko    M            kot  turecki van

[1200 rows x 4 columns]

#### Data urodzenia

In [21]:
imię_płeć_gatunek_rasa['maksymalna_żywotność'] = 0

In [22]:
for idx, row in imię_płeć_gatunek_rasa.iterrows():
    if pd.isna(row['Rasa']):
        imię_płeć_gatunek_rasa.loc[idx, 'maksymalna_żywotność'] = gatunki.loc[gatunki['gatunek'] == row['Gatunek'], 'maksymalna_żywotność'].values
    else:
        imię_płeć_gatunek_rasa.loc[idx, 'maksymalna_żywotność'] = gatunki.loc[gatunki['rasa'] == row['Rasa'], 'maksymalna_żywotność'].values

In [23]:
imię_płeć_gatunek_rasa

         Imię Płeć        Gatunek         Rasa  maksymalna_żywotność
0        Lili    K            kot      bobtail                    15
1       Fifka    K           pies     cavalier                    14
2     Borówka    K            kot    bengalski                     8
3        Roxi    K  szczur domowy          NaN                     3
4      Dżasti    K  szczur domowy          NaN                     3
...       ...  ...            ...          ...                   ...
1195    Bajer    M           pies    hawańczyk                    15
1196    Largo    M           pies   lhasa apso                    14
1197  Chrupek    M      szynszyla          NaN                    10
1198    Mafii    M            kot   maine coon                    18
1199    Nicko    M            kot  turecki van                    18

[1200 rows x 5 columns]

In [24]:
p = 0.3
q = 1 - p
n = len(imię_płeć_gatunek_rasa)

imię_płeć_gatunek_rasa['mu_p'] = 1/5*imię_płeć_gatunek_rasa['maksymalna_żywotność']
imię_płeć_gatunek_rasa['mu_q'] = 3/5*imię_płeć_gatunek_rasa['maksymalna_żywotność']
imię_płeć_gatunek_rasa['sigma_p'] = 2/15*imię_płeć_gatunek_rasa['maksymalna_żywotność']
imię_płeć_gatunek_rasa['sigma_q'] = 1/15*imię_płeć_gatunek_rasa['maksymalna_żywotność']
imię_płeć_gatunek_rasa['flaga'] = (np.random.rand(n) <= p).astype(int)

In [25]:
imię_płeć_gatunek_rasa['wiek'] = imię_płeć_gatunek_rasa.agg(lambda x: 0.1 +  np.abs(x['flaga'] * np.random.normal(x['mu_p'], x['sigma_p']) + \
                        (1- x['flaga']) * np.random.normal(x['mu_q'], x['sigma_q'])), axis=1)

In [26]:
imię_płeć_gatunek_rasa['data_urodzenia'] = imię_płeć_gatunek_rasa.agg(lambda x: pd.to_datetime('18.06.2021', format = '%d.%m.%Y') - pd.to_timedelta(x['wiek']*365, unit='D'), axis=1)
imię_płeć_gatunek_rasa['data_urodzenia'] = imię_płeć_gatunek_rasa['data_urodzenia'].dt.strftime('%d.%m.%Y')

In [27]:
imię_płeć_gatunek_rasa

,Imię,Płeć,Gatunek,Rasa,maksymalna_żywotność,mu_p,mu_q,sigma_p,sigma_q,flaga,wiek,data_urodzenia
0,Lili,K,kot,bobtail,15,3.0,9.0,2.000000,1.000000,1,4.259266,16.03.2017
1,Fifka,K,pies,cavalier,14,2.8,8.4,1.866667,0.933333,1,3.262851,15.03.2018
2,Borówka,K,kot,bengalski,8,1.6,4.8,1.066667,0.533333,1,2.061049,27.05.2019
3,Roxi,K,szczur domowy,NaN,3,0.6,1.8,0.400000,0.200000,0,2.163520,20.04.2019
4,Dżasti,K,szczur domowy,NaN,3,0.6,1.8,0.400000,0.200000,1,0.297383,01.03.2021
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,Bajer,M,pies,hawańczyk,15,3.0,9.0,2.000000,1.000000,0,9.865878,08.08.2011
1196,Largo,M,pies,lhasa apso,14,2.8,8.4,1.866667,0.933333,1,0.316322,22.02.2021
1197,Chrupek,M,szynszyla,NaN,10,2.0,6.0,1.333333,0.666667,1,3.343246,13.02.2018
1198,Mafii,M,kot,maine coon,18,3.6,10.8,2.400000,1.200000,0,14.277585,12.03.2007
1199,Nicko,M,kot,turecki van,18,3.6,10.8,2.400000,1.200000,0,11.371968,05.02.2010

#### IMIĘ, PŁEĆ, GATUNEK, RASA, WIEK, DATA URODZENIA

In [28]:
imię_płeć_gatunek_rasa_wiek_data = pd.concat([imię_płeć_gatunek_rasa.iloc[:, 0:4], imię_płeć_gatunek_rasa.iloc[:,10:12]], axis=1)

In [29]:
imię_płeć_gatunek_rasa_wiek_data.columns = ['Imię', 'Płeć', 'Gatunek', 'Rasa', 'Wiek', 'Data urodzenia']
imię_płeć_gatunek_rasa_wiek_data

         Imię Płeć        Gatunek         Rasa       Wiek Data urodzenia
0        Lili    K            kot      bobtail   4.259266     16.03.2017
1       Fifka    K           pies     cavalier   3.262851     15.03.2018
2     Borówka    K            kot    bengalski   2.061049     27.05.2019
3        Roxi    K  szczur domowy          NaN   2.163520     20.04.2019
4      Dżasti    K  szczur domowy          NaN   0.297383     01.03.2021
...       ...  ...            ...          ...        ...            ...
1195    Bajer    M           pies    hawańczyk   9.865878     08.08.2011
1196    Largo    M           pies   lhasa apso   0.316322     22.02.2021
1197  Chrupek    M      szynszyla          NaN   3.343246     13.02.2018
1198    Mafii    M            kot   maine coon  14.277585     12.03.2007
1199    Nicko    M            kot  turecki van  11.371968     05.02.2010

[1200 rows x 6 columns]

# Rafciowe zabawy z kodem Karty

In [30]:
df = imię_płeć_gatunek_rasa_wiek_data.drop('Wiek', axis=1)

df = df.reset_index().rename(columns={'index':'id_zwierzęcia'})

In [31]:
df

      id_zwierzęcia     Imię Płeć        Gatunek         Rasa Data urodzenia
0                 0     Lili    K            kot      bobtail     16.03.2017
1                 1    Fifka    K           pies     cavalier     15.03.2018
2                 2  Borówka    K            kot    bengalski     27.05.2019
3                 3     Roxi    K  szczur domowy          NaN     20.04.2019
4                 4   Dżasti    K  szczur domowy          NaN     01.03.2021
...             ...      ...  ...            ...          ...            ...
1195           1195    Bajer    M           pies    hawańczyk     08.08.2011
1196           1196    Largo    M           pies   lhasa apso     22.02.2021
1197           1197  Chrupek    M      szynszyla          NaN     13.02.2018
1198           1198    Mafii    M            kot   maine coon     12.03.2007
1199           1199    Nicko    M            kot  turecki van     05.02.2010

[1200 rows x 6 columns]

In [32]:
wlasciciele = pd.read_csv('dane do tabeli/właściciele.csv', index_col='Unnamed: 0')

In [33]:
df['id_właściciela'] = np.nan
n_wlascicieli = len(wlasciciele)
n_zwierzakow = len(df)

df.iloc[:n_wlascicieli, -1] = wlasciciele['id_właściciela'].sample(n_wlascicieli).values
df.iloc[n_wlascicieli:, -1] = wlasciciele['id_właściciela'].sample(n_zwierzakow - n_wlascicieli, replace=True).values
df['id_właściciela'] = df['id_właściciela'].astype(int)

In [34]:
df['Data urodzenia'] = pd.to_datetime(df['Data urodzenia'], format='%d.%m.%Y')

Data rejestracji jest zawarta do 5 czerwca 2021. Zakłądamy, że później nie było rejestracji.

In [35]:
t_min = pd.to_datetime('05.10.2019', format='%d.%m.%Y')
t_max = pd.to_datetime('05.06.2021', format='%d.%m.%Y')

In [36]:
def odpowiedni_moment_t_0(t_min, data_urodzenia):
    if min([t_min, data_urodzenia]) == t_min:
        return data_urodzenia
    else:
        return t_min

In [37]:
df['Data rejestracji'] = df['Data urodzenia'].agg(lambda x: np.random.choice(pd.date_range(odpowiedni_moment_t_0(t_min, x), t_max)))

In [38]:
df

,id_zwierzęcia,Imię,Płeć,Gatunek,Rasa,Data urodzenia,id_właściciela,Data rejestracji
0,0,Lili,K,kot,bobtail,2017-03-16,302,2020-08-28
1,1,Fifka,K,pies,cavalier,2018-03-15,785,2020-10-10
2,2,Borówka,K,kot,bengalski,2019-05-27,103,2021-01-06
3,3,Roxi,K,szczur domowy,NaN,2019-04-20,978,2020-02-14
4,4,Dżasti,K,szczur domowy,NaN,2021-03-01,916,2021-05-06
...,...,...,...,...,...,...,...,...
1195,1195,Bajer,M,pies,hawańczyk,2011-08-08,496,2020-01-18
1196,1196,Largo,M,pies,lhasa apso,2021-02-22,402,2021-05-09
1197,1197,Chrupek,M,szynszyla,NaN,2018-02-13,322,2021-04-07
1198,1198,Mafii,M,kot,maine coon,2007-03-12,209,2021-01-22
1199,1199,Nicko,M,kot,turecki van,2010-02-05,614,2020-07-05

In [39]:
df = df[['id_zwierzęcia', 'id_właściciela', 'Imię', 'Data urodzenia', 'Data rejestracji',
    'Gatunek', 'Rasa', 'Płeć']]

In [40]:
df.to_csv('zwierzeta.csv')